/*Fejlec*/
#nav {
  top: 0;
  left: 0;
  min-width: 100%;
  position: fixed;
  text-align:center;
  background-color: rgba(58, 58, 58, 0.788);
  }
  #nav ul {
  display:inline-block;
  list-style:none; 
  margin-bottom: 2%;
  }
  #nav li {
    color: #93c6d6;
  display:inline;
  }
  #nav img {
    margin: 0.4%;
    margin-left: 3%;
  float: left;
  }
  #nav a {
    margin-top: 3%;
    display: block;
    color: white;
    font-size: 30px;
  float:left;
  text-decoration:none; 
  padding:0 50px;
  }
  
  /*Fixáló*/
  html, body {margin: 0; height: 100%; overflow: hidden}
body{
  min-width: 1075px; 

}
/* Kék 12527E, Májva E7CFCD, Barna 8c6057, Világoskék 93c6d6, zöldes dbf4a7*/
/*box-shadow: -10px -10px 5px #1c87c9, -20px -20px 5px #ccc, -30px -30px 5px #8ebf42, -40px -40px 5px #c21c1c;*/

.szin1 {
  background-color: #E7CFCD;
  box-shadow: -10px -10px 5px #8c6057, -20px -20px 5px #93c6d6, -30px -30px 5px #dbf4a7;
}
.szin2 {
  background-color: #dbf4a7;
  box-shadow: -10px -10px 5px #E7CFCD, -20px -20px 5px #8c6057, -30px -30px 5px #93c6d6;
}
.szin3 {
  background-color: #93c6d6;
  box-shadow: -10px -10px 5px #dbf4a7, -20px -20px 5px#E7CFCD, -30px -30px 5px  #8c6057;
}
.szin4 {
  background-color: #8c6057;
  box-shadow: -10px -10px 5px #93c6d6, -20px -20px 5px#dbf4a7, -30px -30px 5px  #E7CFCD;
}
.forma {
display: block;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4.5%;
  padding: 1%;
  text-align: center;
}

.container1 {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
input {
  width: 35%;
  margin: 10px;
  height: 25px;
}



  /*Lablec*/
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(58, 58, 58, 0.788);
    color: white;
    text-align: center;
  }

  /*Elvalaszto*/
  .elvalaszt {
    margin-bottom: 220px;
  }