
/*krisz*/

.forma {
  display: block;
  height: 58%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 4.5%;
    padding: 1%;
    text-align: center;
  }
  .forma h1{
    font-size: 200%%;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: center;
    padding-bottom: 5%;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
    display: flex;
    flex-direction: column;
  }
  input {
    width: 35%;
    margin: 10px;
    height: 25px;
  }
  p {
    font-size: 60%;
  }
  .munk {
    font-size: 160%;
  }
  li {
    font-size: 150%
  }
  .homeh {
    text-align: right;
    color: white;
  }
  .jobb {
    text-align: center;
    font-size: 101%;
    margin-right: 5%;
    margin-left: 32%;
    color: rgba(255, 255, 255, 0.726);
  }
  .kozep {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Deco */
  .main-content-deco-1{
    min-width: 1rem;
    height: 60%;
    align-self: flex-start;
    margin-left: 2rem;
    background-color: var(--transzparens-fekete);
  }
  .main-content-deco-2{
    min-height: 1.5rem;
    width: 10%;
    align-self: flex-start;
    background-color: var(--transzparens-fekete);
  }
  .main-content-deco-3{
    min-height: 1.5rem;
    width: 70%;
    align-self: flex-end;
    background-color: var(--transzparens-fekete);
  }
  .main-content-deco-4{
    min-width: 1rem;
    height: 70%;
    align-self: flex-end;
    background-color: var(--transzparens-fekete);
  }

:root{
  /* Colors: */
  --hatter-kek-krisz: #12527e;
  --kek-hungary: #0f78be;
  --transzparens-fekete: #00000083;
  --vilagoskek: #93c6d6;
  --kartya-1-hatter: #8a6760;

  /* Size Of Main Elements */
  --navbar-header-size: 4rem;
  --footer-size: 4rem;
  --main-content-size: calc(100vh - 5rem - 8rem); /* 100 - header - main-content-margin(5rem) - footer*/
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: content-box;
  font-size: 20px;
}
.szin1 {
  background-color: #E7CFCD;
  box-shadow: -10px -10px 5px #8c6057, -20px -20px 5px #93c6d6, -30px -30px 5px #dbf4a7;
}
.szin2 {
  background-color: #dbf4a7;
  box-shadow: -10px -10px 5px #E7CFCD, -20px -20px 5px #8c6057, -30px -30px 5px #93c6d6;
}
.szin3 {
  background-color: #93c6d6;
  box-shadow: -10px -10px 5px #dbf4a7, -20px -20px 5px#E7CFCD, -30px -30px 5px  #8c6057;
}
.szin4 {
  background-color: #8c6057;
  box-shadow: -10px -10px 5px #93c6d6, -20px -20px 5px#dbf4a7, -30px -30px 5px  #E7CFCD;
}
/*Lablec*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(58, 58, 58, 0.788);
  color: white;
  text-align: center;
}
footer p {
  display:inline-block;
  word-spacing: 20px;
}

html{
  height: 100vh;
  width: 100vw;

  font-family: 'Open Sans', sans-serif;
  color: var(--vilagoskek);
  background-color: var(--hatter-kek-krisz);
  
}

body{
  overflow: hidden;
  background-image: url('86.png');
  background-repeat: repeat-y;
  background-size: 100% 25%;
}

/*  Margins */
.margin-LR-2rem{
  margin: 0 2rem;
}
.margin-LR-05rem{
  margin: 0 .5rem;
}
.margin-LR-szolgaltatas{
  width: 33%;
  margin: .75rem 1.5rem;
  text-align: center;
}

/*  End
    Of Margins */


/*  Containers And Items */
.flex-row-cross-centered{
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.justify-center{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fix-width{
  width: 100%;
}

/*  End Of 
    Containers And Items */



/* Navbar And Menu*/
.my-navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--navbar-header-size);
  justify-content: space-between;
  background-color: #b9333383;
}

.logo{
  font-size: 35px;
  font-weight: 800;
  color: var(--vilagoskek);
}
.hungary{
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  color: var(--kek-hungary);
}
.my-menu li{
  display: inline-block;
  padding: calc(var(--navbar-header-size)/16) calc(var(--navbar-header-size)/8);
  border: 2px solid var(--vilagoskek);
  border-radius: calc(var(--navbar-header-size));
}
.my-menu li:hover{
  background-color: var(--vilagoskek);
}
.my-menu li:hover > a{
  color: var(--hatter-kek-krisz);
  
}
.my-menu a{
  height: 3rem;
  font-weight: 800;
  color: var(--vilagoskek);
}
#nav {
  top: 0;
  left: 0;
  min-width: 100%;
  position: fixed;
  text-align:center;
  background-color: rgba(58, 58, 58, 0.788);
  }
  #nav ul {
  display:inline-block;
  list-style:none; 
  margin-bottom: 2%;
  }
  #nav li {
    color: #93c6d6;
  display:inline;
  }
  #nav img {
    margin: 0.4%;
    margin-left: 3%;
  float: left;
  }
  #nav a {
    margin-top: 3%;
    display: block;
    color: white;
    font-size: 30px;
  float:left;
  text-decoration:none; 
  padding:0 50px;
  }
/*  End Of
    Navbar And Menu*/



/* Main Content Section */

.center-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content{
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.main-content-picture{
  align-self: flex-end;
  /* align-self: center; */
}
.main-content-picture.flipped{
  align-self: center;
  /* align-self: center; */
}
.main-content-picture img{
  width: 200px;
}
.main-content-picture.flipped img{
  width: 200px;
  transform: scaleX(-1);
  margin-left: 1rem;
}
/* Deco */
.main-content-deco-1{
  min-width: 1rem;
  height: 60%;
  align-self: flex-start;
  margin-left: 2rem;
  background-color: var(--transzparens-fekete);
}
.main-content-deco-2{
  min-height: 1.5rem;
  width: 10%;
  align-self: flex-start;
  background-color: var(--transzparens-fekete);
}
.main-content-deco-3{
  min-height: 1.5rem;
  width: 70%;
  align-self: flex-end;
  background-color: var(--transzparens-fekete);
}
.main-content-deco-4{
  min-width: 1rem;
  height: 70%;
  align-self: flex-end;
  background-color: var(--transzparens-fekete);
}




.main-content-column{
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: grey; */

}
.main-content-header{
  align-self: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 1rem 0 2rem;
  color: #E7CFCD;
}
.main-content-header-rolunk{
  align-self: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0.5rem 0 1.25rem;
  color:#949999;
}
.main-content-header-kapcsolat{
  align-self: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0.5rem 0 1.25rem;
  color:#e79292;
}
.main-content-header-szolgaltatasok{
  color: #b9333383;
  align-self: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0.5rem 0 1.25rem;
}
.main-content-home{
  display: inline-block;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.9;
  font-weight: 800;
  margin: 0 2rem 2rem;
  background-color: #8c6057;
}
.main-content-rolunk{
  color: #127e51;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.9;
  font-weight: 800;
  margin: 0 2rem 1.5rem;
}
.main-content-szolgaltatas{
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 800;
  margin: 0 2rem 1.5rem;
  color: rgb(179, 76, 179);
}
/*Fejlec*/
.kep {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5%;
  width: 8%;
  height: 112;
  z-index: 2;
}
a{
  color: white;
}
#nav {
  top: 0;
  left: 0;
  min-width: 100%;
  position: fixed;
  text-align:center;
  background-color: rgba(175, 175, 175, 0.151);
  }
  #nav ul {
  display:inline-block;
  list-style:none; 
  margin-bottom: 2%;
  }
  #nav li {
    color: #93c6d6;
  display:inline;
  }
  #nav img {
    margin: 0.4%;
    margin-left: 3%;
  float: left;
  }
  #nav a {
    margin-top: 3%;
    display: block;
    color: rgb(196, 15, 15);
    font-size: 30px;
  float:left;
  text-decoration:none; 
  padding:0 50px;
  }




.home{
  max-height: 69%;
}
.rolunk{
  max-height: 70%;
}
/*  End Of
    Main Content Sections*/




/* Footer */
.my-footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  justify-content: center;
  background-image: url('86.png');
}